<!DOCTYPE html>
<html>
<head>
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.13/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.css"/>
    <link rel="stylesheet" href="../../../../../stylesheets/global.css" type="text/css" />
</head>
<body class="mdl-color--grey-50">
<script>
    var org = "<%= org %>",
        tournament = "<%= tournament %>",
        qmatch = "<%= qmatch %>";
</script> <!--This lets the Javascript on this page use the team GET parameter that may be included in the URL of this page.-->

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <%- include('nav', {includeMenu: true, includeSignOut: true}); %>
        <main class="mdl-layout__content">
            <div class="page-content">
                <div class="mdl-grid hidden" id="viewing-info">
                    <div class="mdl-cell--12-col"></div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell--12-col">
                        <em>Showing latest available information (ratings are not averaged)</em>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell--12-col">
                        <h4>Match details: Q<%- qmatch; %></h4>
                    </div>
                </div>
                <div class="mdl-grid" id="show-diff-team">
                    <div class="mdl-cell--12-col">
                        <!--<i class="material-icons">info_outline</i><em>You're looking at a match for a team other than your own.</em>-->
                    </div>
                </div>
                <div class="mdl-grid" id="match-team-info-tables">
                    <div id="match-info-data-loading" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
                </div>
            </div>
            <%- include("footer")%>
        </main>

</body>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jqc-1.12.4/dt-1.10.13/fc-3.2.2/fh-3.1.2/sc-1.4.2/datatables.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.0/firebase.js"></script>
<script src="../../../../javascripts/global.js"></script>
<script src="../../../../javascripts/matchinfo.js"></script>

</html>