<!DOCTYPE html>
<html>

<head>
    <base target="_top">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= //noinspection BadExpressionStatementJS
        title %>
    </title>
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-orange.min.css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../stylesheets/global.css" type="text/css" />
    <link rel="stylesheet" href="../../stylesheets/auth.css" type="text/css" />
    <link rel="stylesheet" href="../../stylesheets/join.css" type="text/css" />

    <!-- for Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script>

        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAIvK9HrI4P7MJlzjOHmcWeja2BPEInuTo",
            authDomain: "wa-robotics-scout.firebaseapp.com",
            databaseURL: "https://wa-robotics-scout.firebaseio.com",
            storageBucket: "wa-robotics-scout.appspot.com",
            messagingSenderId: "490870467180"
        };
        firebase.initializeApp(config);
    </script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />


</head>

<body class="mdl-color--grey-50">
<script>
    var orgJoinCode = "<%- orgJoin%>";
</script>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('nav', {includeMenu: true, includeSignOut: true}); %>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">
                <div id="sign-in-container" class="mdl-cell--4-col-desktop mdl-cell--4-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell-4-col-phone">
                    <!--<h4 class="mdl-typography&#45;&#45;text-center">Sign in to WA Robotics Scout</h4>-->
                    <h4 class="mdl-typography--text-center">To join <strong><%- orgNameServer %></strong>, enter the
                    team you compete on below</h4>
                    <p>The team you enter will be added to this organization.</p>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="team-stem" pattern="^[0-9]{1,5}[a-zA-Z]?$" />
                        <label class="mdl-textfield__label" for="team-stem">Team number</label> <span class="mdl-textfield__error">Enter a valid team number</span>
                    </div>
                    <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" id="sign-in-loading"></div>
                    <br />
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" id="finish-join-btn">
                        Finish
                    </button>
                    <p id="submit-error" class="hidden"></p>
                </div>
            </div>
        </div>
    </main>
    <footer> <a href="https://docs.google.com/forms/d/1W2IYYH-SRWF5gKdhqbj2fdIivSLQyHm5fY-3UcNabY0/viewform" target="_blank">Send feedback</a> <a id="feedback-form-link" href="#">Send feedback</a> </footer>
</div>
<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../../javascripts/orgJoin.js"></script>
<%- include("analytics"); %>
</body>

</html>
